form{
    display: table;
    padding-top: 20px;
}
form div{
    display: table-row;
}
form div label,form div input{
    display: table-cell;
    font-size: 14px;
}
form div label{
    padding-right: 50px;
}
from div input{
    border-radius: 10px;
}
input[name = 'dishName']{
    margin-top: 10px;
    width: 300px;
}
input[name = 'dishType']{
    margin-top: 10px;
    width: 150px;
}
input[name = 'weight']{
    margin-top: 10px;
    width: 50px;
}
a{
    font-size: 14px;
    color: dodgerblue;
    text-decoration: none;
}
a:hover {
    color: red;
}